<div id="newsletter">
    <h3 class="sidebar-header">Newsletter</h3>
    <div class="inner">
        <p>Nie przegap posta!</p>
        Zapisz się do programistycznego newslettera :)<p>
        <div class="input-container">
            <input id="newsletter-input" type="email" name="email">
            <button>Ok</button>
        </div>
    </div>
</div>

<style>
    #newsletter {
        background: red;
        padding: 10px;
        text-align: center;
    }

    .inner > p:first-child {
        font-weight: bold;
    }

    .input-container > button {
        margin-top: 5px;
    }

    #newsletter-input {
        width: 100%;
        border: 1px solid gray;
        border-radius: 5px;
    }
</style>
