<div id="newsletter">
    <h3 class="sidebar-header">Newsletter</h3>
    <div class="inner">
        <p>Nie przegap posta!</p>
        <p>Zapisz się do programistycznego newslettera :)</P>
        <div class="input-container">
            <input id="newsletter-input" type="email" name="email">
            <button>Ok</button>
        </div>
    </div>
</div>

<script>
    let button = document.querySelector('#newsletter button')
    button.addEventListener('click', function () {
        let email = document.querySelector('#newsletter-input').value
        fetch('/newsletter/', {
            method: 'POST',
            body: JSON.stringify({'email': email}),
            headers: {
                'X-CSRFToken': Cookies.get('csrftoken')
            }
        }).then(function (response) {
            response.json().then(function (data) {
                alert(data['msg'])
            })
        })
    })
</script>
