<div id="newsletter">
    <div class="inner">
        <p>Nie przegap posta!</p>
        Zapisz się do programistycznego newslettera :)<p>
        <div class="input-container">
            <input id="newsletter-input" type="email" name="email">
        </div>
    </div>
</div>

<style>
    .inner {
        margin: 10px
    }

    .inner > p:first-child {
        font-weight: bold;
    }
</style>

<script>
    let el = document.getElementsByClassName('input-container')[0]
    console.log(el)
    let input = el.children[0];
    let w = el.clientWidth
    w = w + 'px'
    console.log(input)
    input.style.width = w
</script>
