{% load staticfiles %}

<div id="sidebar">
    <div class="bookmark">
        <div class="left">
            {% include "search.html" %}
        </div>
        <div class="right">
            <img src="{% static "img/search.svg" %}" alt="Szukaj">
        </div>
    </div>
    <div class="bookmark">
        <div class="left">
            {% include "newsletter.html" %}
        </div>
        <div class="right">
            <img src="{% static "img/message.svg" %}" alt="Newsletter">
        </div>
    </div>
</div>

 <script>
 </script>
