{% load staticfiles %}

<div id="topbar">
    <a href="https://www.facebook.com/piotrekczajkablog/"><img src="{% static "img/facebook.svg" %}" alt="Facebook"></a>
    <a href="twitter.com"><img src="{% static "img/twitter.svg" %}" alt="Twitter"></a>
    <a href="linkedin.com"><img src="{% static "img/linkedin.svg" %}" alt="LinkedIn"></a>
    <a href="piotrekczajka.pl/feed"><img src="{% static "img/rss.svg" %}" alt="RSS"></a>
</div>

<style>
#topbar {
    color: white;
}

#topbar > a {
    float: right;
    display: block;
    margin: 2px 5px;
    height: 100%;
    width: 20px;
}
</style>
