{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/blog.css" %}" rel="stylesheet">
        <script src="http://livejs.com/live.js"></script>
    </head>
    <body>
        <header>
            <h1><a href="/">PiotrekCzajka.pl</a></h1>
            <h2>Programowanie i nie tylko</h2>
        </header>
        <div class="content">
                {% block content %}
                {% endblock %}
        </div>
        <div id="sidebar">
            {% include "sidebar.html" %}
        </div>
        <script src="{% static "js/scripts.js" %}"></script>
    </body>
</html>
