html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

header {
    background: #ededed;
}

header > * {
    width: 50%;
    margin: 0 auto;
}

.content {
    width: 60%;
    margin: 20px auto;
}

.post {
    background: #ededed;
    display: flex;
    height: 300px;
    flex-direction: column;
}

#post-list .post {
    margin-top: 30px;
}

.post.detail {
    height: auto;
}

a {
    text-decoration: none;
}

.share {
    margin-left: 10px;
}

p.date {
    margin: 0;
    margin-left: 10px;
}

div.date {
    flex: 1;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
}

.post-inner {
    flex: 9;
    margin: 20px;
    text-overflow: ellipsis;
}

.pagination {
    margin: 20px auto;
    text-align: center;
}

header {
    text-align: center;
    padding: 40px;
}

header h1, h2 {
    display: inline;
}

header h2 {
    font-size: 0.7em;
}

@media only screen and (max-width: 1000px) {
    .content {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
    }
}
