html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

header {
    background: #ededed;
}

header > * {
    width: 50%;
    margin: 0 auto;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.post {
    background: #ededed;
    position: relative;
    height: 200px;
}

.date {
    margin: 0;
    margin-left: 10px;
    position: absolute;
    bottom: 0;
}

.post-inner {
    margin: 20px;
}

@media only screen and (max-width: 1000px) {
    .content {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
    }
}
